{% extends 'base.html' %}
{% block title %} Resoluciones - Detalle {% endblock %}
{% block activepage2 %} active {% endblock %}
{% block activetabla1 %} active {% endblock %}
{% block content %}
    {% load staticfiles %}
    <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTables Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Detalle Resolucion</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
              <form method="POST" id="forme" action="">{% csrf_token %}
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Numero</th>
                      <th>Facultad</th>
                      <th>Fecha</th>
                      <th>Descripcion</th>
                      <th>Elevacion</th>
                        <th></th>
                        <th></th>
                    </tr>
                  </thead>

                    <input class="d-none" type="text" name="nro" id="nro" value="">
                    <input class="d-none" type="text" name="idcon" id="idcon" value="">
                    <input class="d-none" type="text" name="idrst" id="idrst" value="">
                    <input class="d-none" type="text" name="idexp" id="idexp" value="">
                    <input class="d-none" type="text" name="idper" id="idper" value="">
                    <tbody>
                    <tr>
                      <td id="{{ resolucion.nro_resolucion }}" >{{ resolucion.nro_resolucion }}</td>
                      <td>{{ resolucion.facultad_resolucion }}</td>
                      <td>{{ resolucion.fecha_resolucion }}</td>
                      <td>{{ resolucion.descripcion_resolucion }}</td>
                      <td>{{ resolucion.tipo_elevacion }}</td>
                      <td><button type="submit" onclick="obtenerRes('{{ resolucion.nro_resolucion }}')" formaction="{% url 'editarresolucion' %}"  class="btn btn-link"><i class="fas fa-pen fa-xs"></i></button></td>
                      <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal{{ resolucion.nro_resolucion }}"><i class="fas text-danger fa-trash fa-xs"></i></button></td>
                    </tr>
                      <div class="modal fade" id="modal{{ resolucion.nro_resolucion }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ resolucion.nro_resolucion }}Label" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confimar eliminación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                ¿Está seguro que desea eliminar la RD N° {{ resolucion.nro_resolucion }}?
                              </div>
                              <div class="modal-footer">
                                <button type="submit" onclick="obtenerRes('{{ resolucion.nro_resolucion }}')" formaction="{% url 'eliminarresolucion' %}" class="btn btn-danger">Eliminar</button>
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <tr><td colspan="7"></td></tr>
                      {% for cons in considerando %}
                          <tr>
                            <td class="table-primary">Considerando</td>
                            <td>{{ cons.nro_considerando }}</td>
                            <td colspan="3">{{ cons.descripcion_considerando }}</td>
                            <td><button type="submit" onclick="obtenerCon('{{ cons.id_considerando }}')" formaction="{% url 'editarconsiderando' %}"  class="btn btn-link"><i class="fas fa-pen fa-xs"></i></button></td>
                            <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalcon{{ cons.id_considerando }}"><i class="fas text-danger fa-trash fa-xs"></i></button></td>
                          </tr>
                              <div class="modal fade" id="modalcon{{ cons.id_considerando }}" tabindex="-1" role="dialog" aria-labelledby="modalcon{{ cons.id_considerando }}Label" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confimar eliminación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    ¿Está seguro que desea eliminar el considerando {{ cons.nro_considerando }} la RD N° {{ cons.resolucion_considerando.nro_resolucion }}?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" onclick="obtenerCon('{{ cons.id_considerando }}')" formaction="{% url 'eliminarconsiderando' %}" class="btn btn-danger">Eliminar</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}

                      {% for exp in expediente %}
                          <tr>
                            <td class="table-warning">Expediente</td>
                            <td>{{ exp.nro_expediente }}</td>
                            <td>{{ exp.facultad_expediente }} - {{ exp.dependencia_expediente }}</td>
                              <td>{{ exp.descripcion_expediente }}</td>
                            <td>{{ exp.fecha_expediente }}</td>
                          <td><button type="submit" onclick="obtenerExp('{{ exp.nro_expediente }}')" formaction="{% url 'editarexpediente' %}"  class="btn btn-link"><i class="fas fa-pen fa-xs"></i></button></td>
                            <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalexp{{ exp.nro_expediente }}"><i class="fas text-danger fa-trash fa-xs"></i></button></td>
                          </tr>
                              <div class="modal fade" id="modalexp{{ exp.nro_expediente }}" tabindex="-1" role="dialog" aria-labelledby="modalexp{{ exp.nro_expediente }}Label" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confimar eliminación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    ¿Está seguro que desea eliminar el expediente N° {{ exp.nro_expediente }} proveniente de {{ exp.facultad_expediente }} - {{ exp.dependencia_expediente }} que origina la RD N° {{ exp.resolucion_expediente.nro_resolucion }}?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" onclick="obtenerRst('{{ resolu.id_resolutivo }}')" formaction="{% url 'eliminarresolutivo' %}" class="btn btn-danger">Eliminar</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        {% for resolu in resolutivo %}
                          <tr>
                            <td class="table-success">Resolutivo</td>
                            <td>{{ resolu.nro_resolutivo }}</td>
                            <td colspan="3">{{ resolu.descripcion_resolutivo }}</td>
                            <td><button type="submit" onclick="obtenerRst('{{ resolu.id_resolutivo }}')" formaction="{% url 'editarresolutivo' %}"  class="btn btn-link"><i class="fas fa-pen fa-xs"></i></button></td>
                            <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalrst{{ resolu.id_resolutivo }}"><i class="fas text-danger fa-trash fa-xs"></i></button></td>
                            </tr>
                              <div class="modal fade" id="modalrst{{ resolu.id_resolutivo }}" tabindex="-1" role="dialog" aria-labelledby="modalrst{{ resolu.id_resolutivo }}Label" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confimar eliminación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    ¿Está seguro que desea eliminar el resolutivo {{ resolu.nro_resolutivo }} la RD N° {{ resolu.resolucion_resolutivo.nro_resolucion }}?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" onclick="obtenerRst('{{ resolu.id_resolutivo }}')" formaction="{% url 'eliminarresolutivo' %}" class="btn btn-danger">Eliminar</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                        {% for pers in persona %}
                          <tr>
                            <td class="table-danger">Interesado</td>
                            <td>{{ pers.dni }}</td>
                            <td>{{ pers.tipo_persona }}</td>
                              <td colspan="2">{{ pers.nombre_persona }} {{ pers.apellidos_persona }}</td>
                            <td><button type="submit" onclick="obtenerPer('{{ pers.dni }}')" formaction="{% url 'editarpersona' %}"  class="btn btn-link"><i class="fas fa-pen fa-xs"></i></button></td>
                            <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalrst{{ pers.dni }}"><i class="fas text-danger fa-trash fa-xs"></i></button></td>
                            </tr>
                              <div class="modal fade" id="modalrst{{ pers.dni }}" tabindex="-1" role="dialog" aria-labelledby="modalrst{{ pers.dni }}Label" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confimar eliminación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    ¿Está seguro que desea eliminar el interesado identificado con DNI N° {{ pers.dni }}?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" onclick="obtenerPer('{{ pers.dni }}')" formaction="{% url 'eliminarpersona' %}" class="btn btn-danger">Eliminar</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                      </tbody>
                </table>
              </form>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
    <script type="text/javascript">
        function obtenerRes(idr){
            b = document.getElementById('nro');
            b.value = idr;
        }
        function obtenerCon(idc){
            b = document.getElementById('idcon');
            b.value = idc;
        }
        function obtenerRst(idrs){
            b = document.getElementById('idrst');
            b.value = idrs;
        }
        function obtenerExp(idex){
            b = document.getElementById('idexp');
            b.value = idex;
        }
        function obtenerPer(idprs){
            b = document.getElementById('idper');
            b.value = idprs;
        }
    </script>
{% endblock %}
{% block scripts %}
<!-- Page level plugins
  <script src="{% static 'resoluciones/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'resoluciones/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

   Page level custom scripts
  <script src="{% static 'resoluciones/js/demo/datatables-demo.js' %}"></script> -->
{% endblock %}