{% extends 'base.html' %}
{% block title %} Resoluciones - Insertar {% endblock %}
{% block content %}
    {% load staticfiles %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>
          <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                  <form method="POST" action="#" class="align-items-center">{% csrf_token %}
                      <!--
                      <label for="nro_resolucion">
                          Número de resolución
                      </label>
                    <div class="form-group">
                          <input type="text" class="form-control form-control-user" id="nro_resolucion" name="nro_resolucion" placeholder="Ingresar Nro resolucion...">
                    </div>-->
                      {{ form.as_p }}
                      <div class="form-group text-center">
                          <input type="submit" value="Ingresar" class="btn btn-success">
                      </div>

                  </form>

              </div>
              <div class="col-lg-3"></div>
          </div>

        </div>
    <!-- /.container-fluid -->
{% endblock %}
{% block scripts %}
<!-- Page level plugins -->
  <script src="{% static 'resoluciones/vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'resoluciones/js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'resoluciones/js/demo/chart-pie-demo.js' %}"></script>
{% endblock %}