{% extends 'base.html' %}
{% block title %} Expedientes - Editar {% endblock %}
{% load widget_tweaks %}
{% block content %}
    {% load staticfiles %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Editar expediente N° {{ exp.nro_expediente }} proveniente de {{ exp.facultad_expediente }}-{{ exp.dependencia_expediente }} que origina RD N° {{ exp.resolucion_expediente.nro_resolucion }}</h1>
          </div>
          <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                  <form method="POST" action="{% url 'expedienteedit' %}" class="d-block form-inline">{% csrf_token %}
                      {% for field in form %}
                          <div class="form-group row">
                              {{ field.label_tag }} {{ field|add_class:"form-control m-2 col-sm-6" }}
                          </div>
                      {% endfor %}
                      <input type="hidden" name="idexp" id="idexp" value="{{ exp.nro_expediente }}">
                      <div class="d-block text-center">
                          <input type="submit" value="Actualizar" class="btn btn-success">
                      </div>
                  </form>
              </div>
              <div class="col-lg-3"></div>
          </div>
        </div>

    <!-- /.container-fluid -->

    <script type="text/javascript">
        document.getElementById('id_nro_expediente').value = '{{ exp.nro_expediente }}'
        arr = document.getElementsByTagName('option')
        for(var i=0;i<arr.length;i++){
           if(arr[i].innerHTML==='{{ exp.resolucion_expediente.nro_resolucion }}') {
               //arr[0].selected=false
               arr[i].selected=true
           }
           if(arr[i].innerHTML==='{{ exp.facultad_expediente }}') {
               //arr[0].selected=false
               arr[i].selected=true
           }
           if(arr[i].innerHTML==='{{ exp.dependencia_expediente }}') {
               //arr[0].selected=false
               arr[i].selected=true
           }
        }
        document.getElementById('id_fecha_expediente').type = "date";
        document.getElementById('id_descripcion_expediente').value = '{{ exp.descripcion_expediente }}'
        document.getElementById('id_fecha_expediente').value = '{{ exp.fecha_expediente }}'
        arrs = document.getElementsByTagName('label')
        for(var i=0;i<arrs.length;i++){
            arrs[i].classList.add("col-sm-4")
            arrs[i].classList.add("justify-content-start")
        }
    </script>

{% endblock %}
{% block scripts %}
    <!-- Page level plugins -->

    <!-- Page level custom scripts -->

{% endblock %}