{% extends 'base.html' %}
{% block title %} Interesados - Editar {% endblock %}
{% load widget_tweaks %}
{% block content %}
    {% load staticfiles %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Editar Interesado identificado con DNI N° {{ per.dni }}</h1>
          </div>
          <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                  <form method="POST" action="{% url 'personaedit' %}" class="d-block form-inline">{% csrf_token %}
                      {% for field in form %}
                          <div class="form-group row">
                              {{ field.label_tag }} {{ field|add_class:"form-control m-2 col-sm-6" }}
                          </div>
                      {% endfor %}
                      <input type="hidden" name="idcon" id="idcon" value="{{ con.id_considerando }}">
                      <div class="d-block text-center">
                          <input type="submit" value="Actualizar" class="btn btn-success">
                      </div>
                  </form>
              </div>
              <div class="col-lg-3"></div>
          </div>
        </div>

    <!-- /.container-fluid -->

    <script type="text/javascript">
        document.getElementById('id_dni').value = '{{ per.dni }}'
        document.getElementById('id_nombre_persona').value = '{{ per.nombre_persona }}'
        document.getElementById('id_apellidos_persona').value = '{{ per.apellidos_persona }}'
        document.getElementById('id_tipo_persona').value = '{{ per.tipo_persona }}'
        arr = document.getElementsByTagName('option')
        for(var i=0;i<arr.length;i++){
            {% for r in per.resoluciones.all %}
            if(arr[i].innerHTML==='{{ r }}') {
               arr[i].selected=true
            }
            {% endfor %}
        }
        arrs = document.getElementsByTagName('label')
        for(var i=0;i<arrs.length;i++){
            arrs[i].classList.add("col-sm-4")
            arrs[i].classList.add("justify-content-start")
        }
    </script>

{% endblock %}
{% block scripts %}
    <!-- Page level plugins -->

    <!-- Page level custom scripts -->

{% endblock %}