{% extends 'base.html' %}
{% block title %} Resoluciones - Tabla {% endblock %}
{% block activepage2 %} active {% endblock %}
{% block activetabla1 %} active {% endblock %}
{% block content %}
    {% load staticfiles %}
    <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <!-- DataTables Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Resoluciones</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
              <form method="POST" id="form" action="{% url 'detalleresolucion' %}">{% csrf_token %}
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Numero</th>
                      <th>Facultad</th>
                      <th>Fecha</th>
                      <th>Descripcion</th>
                      <th>Elevacion</th>
                        <th></th>
                        <th></th>
                    </tr>
                  </thead>
                    <input class="d-none" type="text" name="nro" id="nro" value="">
                  <tbody>
                    {% for r in resoluciones %}
                    <tr>
                      <td class="table-primary" onclick="obtenerRes('{{ r.nro_resolucion }}');document.getElementById('form').submit();" >{{ r.nro_resolucion }}</td>
                        <td>{{ r.facultad_resolucion }}</td>
                      <td>{{ r.fecha_resolucion }}</td>
                      <td>{{ r.descripcion_resolucion }}</td>
                      <td>{{ r.tipo_elevacion }}</td>
                      <td><button type="submit" onclick="obtenerRes('{{ r.nro_resolucion }}')" formaction="{% url 'editarresolucion' %}"  class="btn btn-link"><i class="fas fa-pen fa-xs"></i></button></td>
                      <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal{{ r.nro_resolucion }}"><i class="fas text-danger fa-trash fa-xs"></i></button></td>
                    </tr>
                      <div class="modal fade" id="modal{{ r.nro_resolucion }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ r.nro_resolucion }}Label" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confimar eliminación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                ¿Está seguro que desea eliminar la RD N° {{ r.nro_resolucion }}?
                              </div>
                              <div class="modal-footer">
                                <button type="submit" onclick="obtenerRes('{{ r.nro_resolucion }}')" formaction="{% url 'eliminarresolucion' %}" class="btn btn-danger">Eliminar</button>
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  {% endfor %}
                </tbody>
                </table>
              </form>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
    <script type="text/javascript">
        function obtenerRes(idr){
            b = document.getElementById('nro');
            b.value = idr;
        }
    </script>
{% endblock %}
{% block scripts %}
<!-- Page level plugins -->
  <script src="{% static 'resoluciones/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'resoluciones/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'resoluciones/js/demo/datatables-demo.js' %}"></script>
{% endblock %}